<div class="post">
        <a class="url" href="{{url}}" target="_blank">{{url}}</a>
        <img class = "photo" src="{{img}}" alt="img"/>
        <p class="title"><b>Title: </b>{{ title }}</p>
        <p class="descr"><b>Description: </b>{{ descr }}</p>
        <button class="mdc-btn js-delete">Delete</button>
</div>